#back, #fixedBack, #formback {
    opacity: 0.9;
    /*background: url('../images/dashboard/Loginbcg2.jpg') no-repeat center center fixed;*/
    /*background: url(../images/dashboard/loginbcg.png) no-repeat center center fixed;*/
    background: url('../images/dashboard/loginbcg3.jpg') no-repeat center center fixed;
    /*background: url('../images/dashboard/loginbcg4.jpg') no-repeat center center fixed;*/
    background-size: cover;
}
#formback {
    opacity: 0.95
}
#BTlogo {
    opacity: 0.9;
    background: url('../images/BetterTeamsLogo3bcg.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}
.popover{
    background-color: azure;
}
