<!DOCTYPE HTML>
<html>
<head>
    <title>About Us</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="~/Content/About/About.css" rel="stylesheet" />
    <link href="~/Content/About/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/About/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <noscript>
        <link href="~/Content/About/noscriptAbout.css" rel="stylesheet" />
    </noscript>
</head>
<body>

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Panel (Banner) -->
            <section id="start" class="panel banner right">
                <div class="content color0 span-3-75">
                    <h1 class="major">
                        Hello, we are<br />
                        the Exceptionals!
                    </h1>
                    <p>Our team came together for the purpose of making a team project for AFDEmp's Coding Bootcamp 6. Our idea was to make a web app that emulates the functions of a messaging and file sharing application, that can be used in business and educational institutions in order to make communication between team members easier.</p>
                    <ul class="actions">
                        <li><a href="#first" class="button">The Team</a></li>
                        <li><a href="@Url.Action("Index", "Home")" class="button">Return</a></li>

                    </ul>
                </div>
                <div class="image filtered span-1-75" data-position="25% 25%">
                    <img src="~/www/images/About/pic01.jpg" />
                </div>
            </section>

            <!-- Panel (Spotlight) -->
            <section class="panel spotlight medium right" id="first">
                <div class="content span-7">
                    <h2 class="major">The people</h2>
                    <p>
                        <ul class="actions">
                            <li><a href="#Savvas" class="button large">Bourdoumpas Savvas</a></li>
                            <li><a href="#Maria" class="button large">Marousopoulou Maria</a></li>
                            <li><a href="#Panos" class="button large">Papadopoulos Panagiotis</a></li>
                            <li><a href="#Petros" class="button large">Sarantakos Petros</a></li>
                            <li><a href="#Apostolos" class="button large">Skoteiniotis Apostolos</a></li>
                        </ul>
                    </p>
                </div>
                <div class="image filtered tinted" data-position="top left">
                    <img src="~/www/images/About/Exceptionals.jpg" />
                    @*<img src="~/www/images/About/pic02.jpg" />*@
                </div>
            </section>



            <!-- Panel (Spotlight) -->
            <section id="Savvas" class="panel spotlight large left">
                <div class="content span-5">
                    <h2 class="major">Bourdoumpas Savvas - Back End</h2>
                    <p>I am an entry level full-stack C# developer,with passion for object oriented programming willing to work hard and learn as much as i can.
                    From an early age i was in love with computers and i have built more than fifteen for my friends and myself, taking into account the compatibility
                    of the parts and their performance. Now i am looking for a challenging environment that will help me broaden my skills and become better as a programmer as well as a person.</p>
                    <ul class="alt">
                        <li><a href="mailto: savvasbour@gmail.com">Contact Savvas</a></li>
                        <li><a href="https://www.linkedin.com/in/s-bourdoumpas/">Check him out on LinkedIn</a></li>
                    </ul>
                    <ul class="actions">
                        <li><a href="#start" class="button">Start</a></li>
                        <li><a href="#Maria" class="button">Next</a></li>

                    </ul>
                </div>
                <div class="image filtered tinted" data-position="top right">
                    <img src="~/www/images/About/Savvas.jpg" />
                </div>
            </section>
            <!-- Panel (Spotlight) -->
            <section id="Maria" class="panel spotlight large left">
                <div class="content span-5">
                    <h2 class="major">Marousopoulou Maria - Database</h2>
                    <p>Maria is an Entry Level Full-Stack .Net Developer who has always been passionate about programming. Her decision to expand her knowledge in this field made her realize that she wants to pursue a career in the software industry.</p>
                    <ul class="alt">
                        <li><a href="mailto: marousopoulou@gmail.com">Contact Maria</a></li>
                        <li><a href="https://www.linkedin.com/in/marousopoulou/">Check her out on LinkedIn</a></li>
                    </ul>
                    <ul class="actions">
                        <li><a href="#start" class="button">Start</a></li>
                        <li><a href="#Savvas" class="button">Previous</a></li>
                        <li><a href="#Panos" class="button">Next</a></li>
                    </ul>
                </div>
                <div class="image filtered tinted" data-position="top right">
                    <img src="~/www/images/About/Maria.jpg" />
                </div>
            </section>
            <!-- Panel (Spotlight) -->
            <section id="Panos" class="panel spotlight large left">
                <div class="content span-5">
                    <h2 class="major">Papadopoulos Panagiotis - Team Leader/Front End</h2>
                    <p>Panagiotis has always been passionate about programming and new technologies. His first contact with programming was at the age of 12 and by the age of 13 he had already built his first console app in Python. He has decided to follow his dreams and pursue a career in he software industry.</p>
                    <ul class="alt">
                        <li><a href="mailto: papadopoulos.panos.28@gmail.com">Contact Panagiotis</a></li>
                        <li><a href="https://www.linkedin.com/in/p-papadopoulos/">Check him out on LinkedIn</a></li>
                    </ul>
                    <ul class="actions">
                        <li><a href="#start" class="button">Start</a></li>
                        <li><a href="#Maria" class="button">Previous</a></li>
                        <li><a href="#Petros" class="button">Next</a></li>
                    </ul>

                </div>
                <div class="image filtered tinted" data-position="top right">
                    <img src="~/www/images/About/PanosPap.png" />
                    @*<img src="~/www/images/About/panos.jpg" />*@
                </div>
            </section>
            <!-- Panel (Spotlight) -->
            <section id="Petros" class="panel spotlight large left">
                <div class="content span-5">
                    <h2 class="major">Sarantakos Petros - Back End</h2>
                    <p>I am an entry level full-stack C# developer, passionate with object oriented programming, with a big thirst for knowledge.</p>
                    <ul class="alt">
                        <li><a href="mailto: sarantakos.petros@gmail.com">Contact Petros</a></li>
                        <li><a href="https://www.linkedin.com/in/petros-sarantakos/">Check him out on LinkedIn</a></li>
                    </ul>
                    <ul class="actions">
                        <li><a href="#start" class="button">Start</a></li>
                        <li><a href="#Panos" class="button">Previous</a></li>
                        <li><a href="#Apostolos" class="button">Next</a></li>
                    </ul>

                </div>
                <div class="image filtered tinted" data-position="top right">
                    <img src="~/www/images/About/10942505_10205397056502354_1913257704388263352_n.jpg" />
                </div>
            </section>
            <!-- Panel (Spotlight) -->
            <section id="Apostolos" class="panel spotlight large left">
                <div class="content span-5">
                    <h2 class="major">Skoteiniotis Apostolos - Front End</h2>
                    <p>Apostolos is an ambitious and passionate person who wants to learn everything about programming and develop the awesomest and most beautiful applications/programs/web sites ever made by man!!!</p>
                    <ul class="alt">
                        <li><a href="mailto: apostolos.skotiniotis@gmail.com">Contact Apostolos</a></li>
                        <li><a href="https://www.linkedin.com/in/skoteiniotisapostolos/">Check him out on LinkedIn</a></li>
                    </ul>
                    <ul class="actions">
                        <li><a href="#start" class="button">Start</a></li>
                        <li><a href="#Petros" class="button">Previous</a></li>
                    </ul>


                </div>
                <div class="image filtered tinted" data-position="top right">
                    <img src="~/www/images/About/Apostolos.jpg" />
                </div>
            </section>

           

        </div>

    </div>

    <!-- Scripts -->
    <script src="~/Scripts/About/jquery.min.js"></script>
    <script src="~/Scripts/About/About.min.js"></script>
    <script src="~/Scripts/fontawesome.min.js"></script>
    <script src="~/Scripts/all.min.js"></script>
    <script src="~/Scripts/About/main.js"></script>

</body>
</html>
