@model BetterTeamsWebApp.Models.ViewModels.UserVM
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th id="receiver"></th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                
            </tr>
            
        </tbody>
    </table>
</div>

