@model List<Models.Room>
@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Rooms</h2>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Creator</th>
                <th>Creator Email</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-active">
                    <td>@item.Name</td>
                    <td>@item.Creator</td>
                    <td>@item.CreatorEmail</td>
                    
                </tr>
            }



        </tbody>
    </table>
</div>
