
    <!-- Trigger/Open The Modal -->
<div class="form-control">
    <button id="myBtn" class="btn-gradient-primary btn-rounded btn-fw">Contact Us</button>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p><strong>Send Us a message</strong></p>
        <form id="contactForm" class="contact-form">

            <div class="form-group row">
                <label for="Email" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="Email" placeholder="Email">
                </div>
            </div>

            <div class="form-group row">
                <label for="Username" class="col-sm-3 col-form-label">Username (optional)</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="Username" placeholder="Username">
                </div>
            </div>

            <div class="form-group row">
                <label for="Message" class="col-sm-3 col-form-label">Message</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="Message" name="Message" rows="5" placeholder="Your message...">
      
      </textarea>
                    <!-- <input type="text" class="form-control" id="Message" placeholder="Your message..."> -->
                </div>
            </div>

            <button type="submit" class="btn-gradient-primary btn-rounded btn-fw">Submit</button>
            <button class="btn btn-light">Cancel</button>
        </form>
    </div>

</div>

<script>
    $(function() {

        $('#contactForm').submit(function () {
            Message = new Object();
            Message.Sender = $('#Email').val();
            Message.Receiver = ('Admin');
            Message.Message = $('#Message').val();

            $.ajax({
            type: "POST",
                url: "",

            data: $('form.contact-form').serialize(),
            success: function(response) {
                alert(response['response']);
            },
            error: function() {
                alert('Error');
            }
        });
        return false;
    });
});
</script>
