
    <!-- Trigger/Open The Modal -->
<div class="form-control">
    <button id="myBtn" class="btn-gradient-primary btn-rounded btn-fw">Contact Us</button>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <p><strong>Send Us a message</strong></p>
        <form id="contactForm" class="contact-form">

            <div class="form-group row">
                <label for="Email" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="email" name="Email" placeholder="Email">
                </div>
            </div>

            @*<div class="form-group row">
                <label for="Username" class="col-sm-3 col-form-label">Username (optional)</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="username" name="Username" placeholder="Username">
                </div>
            </div>*@

            <div class="form-group row">
                <label for="Message" class="col-sm-3 col-form-label">Message</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="message" name="Message" rows="5" placeholder="Your message...">
      
      </textarea>
                    <!-- <input type="text" class="form-control" id="Message" placeholder="Your message..."> -->
                </div>
            </div>

            <button id="contact-form-submit" type="submit" class="btn-gradient-primary btn-rounded btn-fw">Submit</button>
            <button class="btn btn-light">Cancel</button>
        </form>
    </div>

</div>

<script>
    $('#myBtn').click(function (e) {
        e.preventDefault();
        $('#myModal').modal();
    });
    $(function () {

        $('#contact-form-submit').on('click', function (e) {
            e.preventDefault();

            contactUs = new Object();
            contactUs.Sender = $('#Email').val();
            contactUs.Text = $('#message').val();

            $.ajax({
                type: "POST",
                url: "/Home/ContactUs",
                contentType: 'application/json;charset=utf-8',
                data: JSON.stringify(contactUs),
                success: function () 
                {
                    alert('Success');
                },
                   
                error: function () {
                    alert('Error');
                }
            });
            return false;
        });
    });
  
</script>
